$primary-font: "Rubik", sans-serif;

$ff-aqua: #00c0fa;
$ff-blue: #4261ed;
$ff-purple: #6717cc;

$primary-100: #1c70bb;
$primary-80: #498dc9;
$primary-60: #77a9d6;
$primary-40: #a4c6e4;
$primary-20: #d2e2f1;
$primary-10: #f2f7fd;

$Secondary-100: #839bb1;
$Secondary-80: #9cafc1;
$Secondary-60: #b5c3d0;
$Secondary-40: #cdd7e0;
$Secondary-20: #eaedf6;

$Background-white: #fff;
$Background-Card: #f5f7f9;
$Background-light-grey: #fafbff;

$text-icon-100: #1e272f;
$text-icon-80: #4b5259;
$text-icon-60: #787d82;
$text-icon-40: #a5a8ac;
$text-icon-20: #d2d4d5;
$text-icon-0: #fff;

$Tertiary-Success-100: #189877;
$Tertiary-Success-80: #46ad92;
$Tertiary-Success-60: #74c1ad;
$Tertiary-Success-40: #a3d6c9;
$Tertiary-Success-20: #d1eae4;
$Tertiary-Success-10: #e8f5f1;

$Tertiary-Warning-100: #ff8700;
$Tertiary-Warning-80: #ff9f33;
$Tertiary-Warning-60: #ffb766;
$Tertiary-Warning-40: #ffcf99;
$Tertiary-Warning-20: #ffe7cc;
$Tertiary-Warning-10: #fff3e5;

$Tertiary-Error-100: #d82028;
$Tertiary-Error-80: #e04d53;
$Tertiary-Error-60: #e8797e;
$Tertiary-Error-40: #efa6a9;
$Tertiary-Error-20: #f7d2d4;
$Tertiary-Error-10: #fbe9e9;
